*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Quattro';
}

html{
  overflow: auto;
}

body{
  overflow:hidden;
}

/*FONT STYLES*/

@font-face {
  font-family: 'Quattro';
  src: local('Quattro'),
 /* url('./fonts/QuattrocentoSans-Regular.ttf') format('truetype');*/
}

/*HEADER STYLES*/

Navbar {
  height: 20px;
  border: 2px solid purple;

}

Navbar-wrapper {
  
}
/*CATALOGUE STYLES*/
/*PRICING STYLES*/
/*CREDIT STYLES*/
/*CONTACT STYLES*/
/*HEADER STYLES*/