*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Quattro';
}

html{
  overflow: auto;
  
}

body{
  overflow:hidden;
}

/*FONT STYLES*/

@font-face {
  font-family: 'Quattro';
  src: local('Quattro'),
  url('./fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

/*HEADER STYLES*/

.Navbar {
  height: 90px;
 position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  background-color: black;
  padding: 0px 50px;


}

.Navbar-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px;
}


.Logo {
  font-size: 24px;
  padding-right: 10px;
  font-weight: 900;
  }
  
  .Logo-label {
    font-size: 13.3px;
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding: 0px 12px;
    letter-spacing: 3.5px;
    font-weight: 600;
  }

 .Navbar-wrapper-right {
margin-left: auto;

  }

.Header-links {
  height: 50px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: end;
  
}

.Catalogue {
  padding: 0px 15px;
}

 .Pricing, .Credits, .Contact {
  padding: 0px 15px;
  border-left: 2px solid white;
}


/*HOMEPAGE STYLES*/
.Homepage {
  width: 100%;
  color: white;
}

.Homepage-wrapper {
  display: flex;
  justify-content: center;
height: 1050px;
width: 100%;

padding: 50px 0px;
padding: 0px 22vw;
text-align: start;
}

.Bio-wrapper{ 
  width: 100%;
  display: flex;
  justify-content: start;
  text-align: start;
  flex-direction: column;
  padding-top:  100px;
}

.Bio-title {
  max-width:5em;
  font-size: 115px;
  font-weight: 800;

}

.Bio-ul-wrapper{
padding: 25px 0px 0px 25px ;
font-size: 28px;

}

.Bio-ul {
padding-left: 10px;
}

.li-item {
  padding: 15px 10px 10px 0px ;
}

/*ICON BAR STYLES*/

.Sticky-icons {
display: flex;
justify-content: center;
height: fit-content;
width: 110px;
z-index: 100;
transform: translateY(-185%);
position: fixed;
right: 0;
margin-right: 0.25vw;
text-decoration: none;
}


.Soundcloud, .Twitter, .Youtube, .Spotify, .Instagram {
  color: white;
  list-style-type: none;
  padding: 7px 0px 7px 0px;
}


/*CATALOGUE STYLES*/
.Beat-Catalogue {
  align-items: center;
  height: 1000px;
  width: 100%;
  background-color: black;
}

.Catalogue-title {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 125px;
  width: 100%;
  color: white;
}

.Title {
  display: flex;
  font-size: 60px;
  font-weight:550;
  align-items: center;
}

.BeatStore-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#BeatstoreHTML{
  border: 3px solid green;
}
/*PRICING STYLES*/

.Pricing-div {
  border: 2px solid red;
  width: 100%;
  height: 900px;
  background-color: black;
  color: white;
}

.Pricing-plan {
  display: flex;
  border: 2px solid yellow;

}

.Pricing-Grid {
width: 100%;
display: grid;
grid-template-columns: 400px 3fr;

gap: 3rem;
border: 2px solid purple;
}

.Grid-Item {
color: black;
min-height: 700px;
height: 100%;
border-radius: 40px;
background-color: white;
height: 100%;
width: 100%;
}

.Card-Title {
  display: flex;
  justify-content: start;

padding: 22px;
border: 2px solid purple;
width: 100%;
height: 175px;
flex-direction: column;
}

.Card-Content {
  display: flex;
  justify-content: center;
  border: 2px solid green;
  display: flex;
  width: 100%;
}

.License-type {
font-size: 21px;
padding: 5px 0px;

}

.Prices {

  font-size: 50px;
}
/*CREDIT STYLES*/
/*CONTACT STYLES*/
/*HEADER STYLES*/
