*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Quattro';
}

html{
  overflow: auto;
  
}

body{
  overflow:hidden;
}

/*FONT STYLES*/

@font-face {
  font-family: 'Quattro';
  src: local('Quattro'),
  url('./fonts/QuattrocentoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quattro Bold';
  src: local('Quattro Bold'),
  url('./fonts/QUATTROCENTOSANS-BOLD.TTF') format('truetype');
}

/*HEADER STYLES*/

.Navbar {
  height: 3.5em;
 position: fixed;
 top: 0;
 display: flex;
 align-items: center;
 width: 100%;
 color: white;
 padding: 0px 50px;
 transition: 400ms;
 flex-direction: column;
 z-index: 2;
}

.Navbar-bg {
  background-color: #1C1D1E;
  opacity: 92%;
  transition: 400ms;
}

.Navbar-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px;
  flex-direction: row;
  width: 100%;

}

.Nav-links, .Header-links {
  visibility: visible;
}

.Logo {
  font-size: 1.5rem;
  padding-right: 10px;
  font-weight: 900;
  }
  
  .Logo-label {
    font-size: 13.3px;
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding: 0px 12px;
    letter-spacing: 3.5px;
    font-weight: 600;
  }

 .Navbar-wrapper-right {
margin-left: auto;

  }

.Header-links {
  height: 50px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: end;
}


.Catalogue {
  padding: 0px 15px;
}

 .Pricing, .Credits, .Contact {
  padding: 0px 15px;
  border-left: 2px solid white;
}

.Progress-container {
width: 100vw;
height: 1px;
}

.Progress-fill {
height: 100%;
border: 1px solid red;
}

.Menu-icon {
  color: white;
  padding: 10px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 4;
}

.Menu-icon:hover {
  cursor: pointer;
}

.Responsive-links {
padding-left: 25px;
margin: 25vw 0vw;
}

.Responsive-li {
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
  font-weight: 700;
}

.Sidebar {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  background: hsla(0, 0%, 100%, 0.178);
  background-color: rgba( 0, 0, 0, 0.8 );
  transform: translateX(0px);
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 3;

}

.Open {
  transform: translateX(70vw);
  backdrop-filter: blur(15px);
}

/*HOMEPAGE STYLES*/
.Homepage {
  display: flex;
  align-items: center;
  padding-top: 75px;
  min-height: 100vh;
  color: white;
 width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.Homepage-wrapper {
display: flex;
text-align: center;
width: 100%;
padding: 0px 19vw;
}

.Bio-wrapper{ 
  width: 100%;
  display: flex;
  align-content: center;
  flex-direction: row;
  max-height: fit-content;
}

.Bio-title {
  font-size: 75px;
  font-weight: 800;
  width: 50%;
}

.Bio-ul-wrapper{
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
width: 50%;
}

.Bio-ul {
padding-left: 10px;
}

.Homepage-CTO-Btn {
height: 40px;
padding: 10px;
border-radius: none;
background-color: white;
color: black;
border: none;
font-weight: 550;
font-size: 15px;
letter-spacing: 1px;
transition: 150ms;
}

.Homepage-CTO-Btn:hover{
background-color: black;
color: white;
transition: 400ms;
cursor: pointer;
border: 1px solid red;
}

.li-item {
  padding: 15px 10px 10px 0px ;

}

/*ICON BAR STYLES*/

/*.Sticky-icon {
border-radius: 10px;
display: flex;
justify-content: center;
height: fit-content;
width: 90px;
z-index: 100;
right: 0;
transform: translateY(-300%);
position: fixed;
margin-right: 0.25vw;
text-decoration: none;
border: 1px solid green;
}*/

.Sticky-icons {
  width: fit-content;
  padding: 0px 10px;
  position: fixed;
  right: 0;
  top: 35vh;
  margin-right: 10px;
}


.Soundcloud, .Twitter, .Youtube, .Spotify, .Instagram {
  color: white;
  list-style-type: none;
  padding: 4px 0px 7px 0px;
  font-size: 1.5rem;
}


/*CATALOGUE STYLES*/
.Beat-Catalogue {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1C1D1E;
}

.Catalogue-title {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 125px;
  width: 100%;
  color: white;
  font-family: 'Quattro-Bold';
}

.Title {
  display: flex;
  font-size: 60px;
  font-weight:550;
  align-items: center;
}

.BeatStore-wrapper {
  display: flex;
  justify-content: center;
  width: 70%;
}


/*PRICING STYLES*/

.Pricing-div {
  width: 100%;
  height: fit-content;
  background-color: #1C1D1E;
  color: white;
  flex-grow: 1;
}

.Pricing-plan {
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
 margin: 0px 5vw;
}

.Pricing-Grid {
width: 100%;
display: flex;
height: 100%;
padding: 1rem 0rem;
align-content: center;
justify-content: center;
grid-gap: 5em;

}

.File-Type {
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.Grid-Item {
color: black;
width: 270px;
border-radius: 4px;
background-color: white;
height: 400px;

padding-top: 15px;
}

.Card-Title {
display: flex;
justify-content: center;
align-items: start;
padding: 22px;
width: 100%;
height: 25%;
flex-direction: column;
margin: 0px 20px;
}

.Card-Content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55%;
  padding-top: 20px;
}

.License-type {
font-size: 14px;
padding: 2px;
margin: 25px 0px 5px 0px;
background-color: lightgrey;
border-radius: 2px;
}

.From {
  font-size: 14px;
}

.Prices {
  font-size: 50px;
  font-weight: 1000;
}

.License-li-A {
  display: flex;
  flex-direction: column;
  justify-content: start;
padding: 20px 0px 20px 0px;
gap: 5px;
font-size: 16px;
margin: 0px 40px;
}

.License-Btn-Div {
height: 20%;
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
margin: 0px 30px;
}

.License-Btn {
  padding: 10px 0px;
  width: 90%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
}

.License-Btn:hover {
transition: 200ms;
cursor: pointer;
border: 1px solid black;
background-color: white;
color: black;
}
/*CREDIT STYLES*/
/*CONTACT STYLES*/
.Contact-Div {
  display: flex;
  justify-content: center;
height: 650px;
width: 100%;
text-align: start;
}

.CTO-Wrapper {
  display: flex;
  width: 100%;
}

.CTO-box-left-wrapper {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  width: 50%;
}

.CTO-box-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  width: 800px;
  height: 100% auto;
  margin: 20px;
  letter-spacing: 0.5px;
}

.CTO-Title, .CTO-Para, #contact-form {
margin: 0px 50px;
padding: 8px 0px;
}

.CTO-Title {
  font-size: 30px;
  font-weight: 900;
}
.CTO-Para {
 letter-spacing: 0.5px;
 padding-bottom: 20px;
}

#contact-form {

}

.btn, .btn-primary {
border: 2px solid black;
background-color: white;
width: 100%;
font-size: 19px;
padding: 10px 0;
margin: 15px 0px;
}

.btn:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 19px;
  padding: 10px 0;
  }


.form-group {

}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 12px;
  padding-left: 0px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  margin-right: 20px;
}

.CTO-box-right-wrapper {
  display: block;
  width: 50%;
  background-size: contain;
}
/*FOOTER STYLES*/

.Footer {
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: black;
  opacity: 92%;
  text-align: center;
  justify-content: space-between;
}

.Footer-Title {
color: white;
font-size: 28px;
text-align: center;
padding: 18px 0px;
}


.Icon-ul-footer{
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  gap: 20px;
padding-bottom: 20px;
}

.Circle {
border-radius: 50px;
padding: 10px;
font-weight: 400;
font-size: 18px;
}

.Footer-Copyright {
  display: flex;
 justify-content: center;
 align-items: center;
  height: 50px;
  color: grey;
  font-weight: 400;
  padding-bottom: 50px;
  font-size: 14px;
}

/*HOVER STYLES*/
li:hover{
  color: grey;
  cursor: pointer
}

/*RESPONSIVENESS STYLES*/

@media screen and (max-width:900px) {

  .Homepage-wrapper, .Pricing-Grid {
    display: flex;
  }

.Pricing-Grid {
display: flex;
flex-direction: column;
justify-content: center;
}

.Pricing-plan {
  display: flex;
  margin: 0 auto;
  width: fit-content;

}

.Bio-title {
font-size: 2em;
}

.Bio-wrapper {
flex-direction: column;
display: flex;
}

  .Bio-title {
width: 100%;
padding-bottom: 15px;
  }

  .Bio-ul-wrapper{
    width: 100%;
  }

.Contact-Div {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.CTO-box-left-wrapper {
  width: 100%;
}

.Navbar{
  padding: 0em 1.5em;
  background-color: black;
  opacity: 92%;
}


.Logo-label, .Nav-links {
visibility: hidden;
border: 2px solid orange;
}

.Header-link {
  color: white;
  font-size: 18px;
}

.Sticky-icons {
visibility: hidden;
}

}

@media screen and (min-width:900px) {
.Menu-icon {
  visibility:hidden;
}

.btn:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 19px;
  padding: 10px 0;
  }

}

